  		body {
        font-family: 'Optima', sans-serif;
        text-align:left;
     	}

	a.event-link:link
	{
	   color: #fb3f00;
	   text-decoration: none;
	}


		table td,table th{
			padding:2px;
		}

		table tr{
			height:0pt;
		}


		p{
			margin:0;
			font-size:11pt;
		}

		h1{font-size:20pt;
		}

		h2{font-size:16pt;
			margin: 0px;
		}

		h3{
			font-size:18pt;
			text-align:center;
			padding-top: 30px;
			margin-top: 0px;
			margin-bottom: 0px;
		}

		h4{
			font-size:12pt;
			padding-bottom:4px;
			font-weight: 300;
			color: #3e00ff;
			text-decoration: underline;
			margin: 0px;
		}

		sup {
    		vertical-align: super;
    		font-size: smaller;
		}

		.preheader{
					color: white;
		}

		.email-container{
					max-width: 600px;
					background: white;
					margin:0 auto;
		}
		

		.cell-styling{
					border-right-style:solid;
					padding:2px;
					border-width:1px;
					border-color:#ffffff;
					vertical-align:top;
					border-style:solid;
		}



		.opening-closing-text{
			padding: 10px;

		}

		.weekly-overview{
					border: 3px solid black;
					margin: 2px;
					padding: 5px;
					background-color: #white;
		}

		.week-detail-container{
					padding: 10px, 0px;
		}

		.day{
					padding: 2px, 0px;
					font-family: 'Garamond', serif;
					margin-bottom: 2px;
		}

		.area{
					padding: 2px 0px;

		}

		.group{
					border: solid 2px;
					border-color: #black;
					border-radius: 5px;
					margin-bottom: 4px;

		}

		.events{
					background-color: #ffffff;
		}

		.event{
					width: 95%;
					font-family: 'Optima', sans-serif;
					margin: 0px 5px 5px 5px;
		}


		.event-cell{
					text-align: left;

		}

		.calendar-cell{
					vertical-align:center;
					width:30px;

		}

		.event-time{
					font-weight:600;
					font-size:11pt;
		}

		.event-type{
					color:#000000;
					font-weight:600;
					font-size:11pt;
		}

		.artist-name{
					color:#000000;
					font-weight:500;
					font-size:11pt;
					font-style:normal;

		}

		.event-name{
					color:#000000;
					font-weight:500;
					font-size:11pt;
					font-style:italic;

		}

		.gallery-name{
					color:#000000;
					font-weight:600;
					font-size:11pt;
					font-style:normal;

		}

		.gallery-address{
					color:#000000;
					font-weight:400;
					font-size:11pt;
					text-decoration:underline;
		}

		.rsvp-info{
					color:#000000;
					font-weight:400;
					font-size:11pt;
					font-style:normal;
		}

		.rsvp-url{
					font-weight:400;
					font-size:11pt;
		}

		.cta{
					padding:3px;
					margin: 10px;
					text-align:center;

		}

		.button {
			  		background-color: white;
			  		border: solid 1px;
				  	padding: 15px 15px;
				  	text-align: center;
				  	display: inline-block;
				  	font-size: 16pt;
				  	margin: 4px 2px;
				  	cursor: pointer;
				  	border-radius: 4px;
		}
