
      body {
        font-family: 'Cormorant Garamond', serif;
        text-align:left;
        max-width: 100%;
      }


    table td,table th{
      padding:2px;
    }

    table tr{
      height:0pt;
    }


    p{
      margin:0;
      font-size: 12pt
    }

    h1{font-size:20pt;
    }

    h2{font-size:16pt;
      margin: 0px;
    }

    h3{
      font-size:18pt;
      font-weight: 500;
      text-align:center;
      padding-top: 30px;
      margin-top: 0px;
      margin-bottom: 0px;
    }

    h4{
      font-size:12pt;
      padding-bottom:4px;
      font-weight: 500;
      text-decoration: none;
      margin: 0px;
      color: black;
    }

    sup {
        vertical-align: super;
        font-size: smaller;
    }

    .preheader{
          color: white;
    }

    .email-container{
          max-width: 600px;
          background: white;
          margin:0 auto;
    }



    .opening-closing-text{
      padding: 10pt;

    }

    .weekly-overview{
          border: 2px solid black;
          margin: 2px;
          padding: 5px;
          color: black;
          font-size: 12pt;
          text-align: justify;
    }

    .week-detail-container{
          padding: 10px, 0px;
    }

    .day{
          padding: 2px, 0px;
          font-family: 'Roboto', sans-serif;
          margin-bottom: 2px;
    }

    .area{
          font-family: 'Roboto', sans-serif;
          padding: 2px 0px;

    }

    .group{
          border: solid 2px;
          border-color: #black;
          border-radius: 5px;
          margin-bottom: 4px;

    }

    .events{
          background-color: #ffffff;
    }

    .event{
          width: 95%;
          font-family: 'Cormorant Garamond', serif;
          margin: 0px 5px 5px 5px;
    }


    .event-time{
          font-weight:bold;
          color: black;
          text-decoration: none;
    }

    .event-type{
          font-weight:600;
    }

    .artist-name{
          font-weight:400;

    }

    .event-name{
          font-weight:400;
          color: black;
          text-decoration:none;

    }

    .gallery-name{
          font-weight:600;
          font-style:normal;

    }

    .gallery-address{
          color: black;
          font-weight:400;
          text-decoration:none;
    }

    .rsvp-info{
          color:#000000;
          font-weight:400;
          font-style:normal;
    }

    .rsvp-url{
          font-weight:400;
    }

    .cta{
          padding:3px;
          margin: 10px;
          font-family: 'Roboto', sans-serif;
          text-align:center;

    }

    .extratext{
          padding:3px;
          margin: 10px;
          text-align:center;

    }

    .button {
          background: black;
          color: white;
          border: solid 1px;
          padding: 15px 15px;
          text-align: center;
          display: inline-block;
          font-size: 16pt;
          margin: 4px 2px;
          cursor: pointer;
          border-radius: 4px;
    }
